<div id="owlCarousel" class="owl-carousel owl-theme">
    <?php foreach ($block->getSlides() as $slide) : ?>
         <div class="item"><?php echo $slide; ?></div>
    <?php endforeach; ?>
</div>
<script>
    require(['jquery', 'owlCarousel'], function ($) {
        $(document).ready(function() {
            $('#owlCarousel').owlCarousel({
            <?php echo $block->getSliderOptions(); ?>
            });
        });
    });
</script>